#SearchTextField{

-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
TextFieldAddingHealthProblem1 {
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#TextFieldAddingHealthProblem2{
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}