#SearchTextField{

-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#TextFieldValue1 {
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#TextFieldValue2{
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}