@font-face {
    -fx-font-family: 'Lexend';
    src: url(font/Lexend-Regular.ttf);
}

 .button,.label, .hyperlink, .toggle-button {
    -fx-font-family: 'Lexend';
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}



#DashboardSideBar,#ClinicVisitLogSideBar, #InventorySideBar,#MessageSideBar,#StudentHealthSideBar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-text-fill: #737791;
    -fx-translate-y: 40px;

}


#StudentHealthSideBar :focused{
-fx-background-color: #066C3D;
 -fx-text-fill: white;
}


#DashboardSideBar:focused {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
}
#ClinicVisitLogSideBar:focused {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
}
#InventorySideBar:focused {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;



}

#MessageSideBar:focused {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
}


#DashboardSideBar:hover {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
    -fx-transition: 0.3s;

}


#StudentHealthSideBar:focused {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;

}

#ClinicVisitLogSideBar:hover {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
    -fx-transition: 0.3s;

}

#InventorySideBar:hover {
    -fx-background-color: #066C3D;
    -fx-text-fill: white;
-fx-transition: 0.3s;
}

#MessageSideBar:hover {
 -fx-background-color: #066C3D;
    -fx-text-fill: white;
    -fx-transition: 0.3s;
}

#sidebar {
-fx-background-color: white;
    -fx-padding: 5px;

-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 10, 0);
}
#ShowInformationButton{
-fx-text-fill: white;
-fx-background-color: #2196F3;
-fx-font-size:Large;
-fx-background-radius: 15px;
-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 10, 5);
}

