
#LabelEditInformation{
 -fx-font-weight: 700;
-fx-font-size: 25px;
}
#LabelStudent,#LabelStudentHealth{
 -fx-font-weight: 700;
 -fx-font-size:16px;
}

#LabelLRN,#LabelFirstname,#LabelLastname,#LabelSex,#LabelAge,#LabelGradeLevel,#LabelSection,#LabelContactNumber,#LabelHomeAddress,#LabelEmailAddress,#LabelEmailAddress{
-fx-font-size:14px;

}



#TextFieldValue1 {
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#TextFieldValue2{
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}