


.table-view .column-header-background {
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER-LEFT;
}

.table-row-cell:selected {
    -fx-background-color: #cfcfcf;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.table-cell {
    -fx-padding: 10px;
    -fx-alignment: CENTER-LEFT;
}


#MoreInformationLabel {
-fx-font-family: 'Lexend';
    -fx-font-weight: 900;
-fx-font-size: 25px;


}


#ResetHistoryLabel{
-fx-font-family: 'Lexend';
-fx-font-size: 15px;
-fx-font-weight: 400;
 -fx-text-fill: #737791;
}

#ContactInfoLabel {
 -fx-font-weight: 700;
-fx-font-size: 15px;
}


#StudentHealthProfileLabel{
 -fx-font-weight: 700;
-fx-font-size: 15px;

}


#ButtonEditHealthInfo {
-fx-background-color: #FFFFFF;
-fx-border-width: 1px;
    -fx-border-color: black;
-fx-border-radius:15px;
}
#ContactNumLabel{
-fx-font-size: 14px;
}
#EmailAddressLabel{-fx-font-size: 14px;}
#AddressLabel{-fx-font-size: 14px;}
#HealthProbLabel{-fx-font-size: 16px;}