#SearchTextField{

-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#TextfieldHealthProblem {
-fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

